<% layout("/layouts/plate") -%>
<body>

    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit page</h3>
            <form method="post" action="/listings/<%= list._id %>?_method=PUT "  >
        
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" name="Listing[title]" id="" value="<%= list.title %>">
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="Listing[description]" class="form-control" id="" value=""><%= list.description %></textarea>
                </div>
                
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" name="Listing[image]" id="" value="<%= list.image %>">
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" name="Listing[price]" id="" value="<%= list.price %>">
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" name="Listing[country]" id="" value="<%= list.country %>">
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" name="Listing[location]" id="" value="<%= list.location %>">
                </div>
                
                <button class="btn btn-dark mb-3 add-btn">Edit</button>
            </form>
        </div>
    </div>

</body>
